* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#1e1e1e, #13946f);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #1e1e1e;
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
